{% extends "base.html" %}

{% block header %}
    <h1>Bookstore</h1>
    {% if user.is_authenticated %}
        <p>Welcome {{user.username}}, nice to see you again!</p>
    {% endif %}
    <a href="{% url 'book-create' %}">Add a new book</a><br>
    <a href="{% url 'book-delete' %}">Remove a sold book</a><br>
    <a href="{% url 'book-update' %}">Update and existing book</a><br>
    <a href="{% url 'logout' %}">Logout</a>
{% endblock %}

{% block title %}List of Books{% endblock %}

{% block content %}
<ul>
    {% for book in books %}
        <li>
            <a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a>

        </li>
    {% endfor %}
</ul>
{% endblock %}


